/* Custom.scss */



/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');



/* Non-SASS CSS */
.card { margin-bottom: 30px; } // bottom margin for each card
.jumbotron { margin-top: 50px; } // top margin for the "jumbotron" (large element with "Hello World")



/* Bootstrap variable overrides */

	/* Overall Colors */
	$primary: green;

	/* Background Color */
	$body-bg: rgb(255,178,33);

	$nav-tabs-border-color: #4f70a1;
	$navbar-dark-color:#4f70a1;

	$secondary: #f9e9c6;
$navbar-dark-active-color:  #f9e9c6;

	/* Jumbotron Background Color */
	$jumbotron-bg: white;

	/* Text Colors */
	$body-color: #f9e9c6; // Body font color
	$headings-color: $primary; // Font color for all headings (H1, H2, H3, H4, H5, H6)

	/* Header Fonts */
	$headings-font-family: 'Stardos Stencil', cursive; // Google Fonts

	/* Body Fonts */
	$font-family-base: stratos-lights, sans-serif; // Adobe Fonts
	$font-weight-base: 300; // Font weight for body, as specified in Adobe Fonts

	/* Border radius */
	$border-radius: 0;
	$border-radius-lg: 0;
	$border-radius-sm: 0;


@import "bootstrap-4.0.0/scss/bootstrap";




